.banner {
  position: relative;
  background-color: #91c2f4;
  padding: 20px;
  text-align: center;
  border-bottom: none;
}

.banner-logo {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}